.t_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(223, 223, 223, 0.377);
    padding: 15px 30px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
    transition: .2s ease-in-out;

    &:hover{
        background-color: rgba(15, 15, 15, 0.925);
        color: white;
    }

svg {
        margin-left: 5px;

    }
}