.custom_mouse{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid red;
    pointer-events: none;
    transition: 0.1s;
    transform: translate(-50%), -50%;
    mix-blend-mode: difference;
}